name: Production Database Migration

on:
  push:
    branches:
      - main
      - develop
  workflow_dispatch:
    inputs:
      environment:
        description: 'Target Environment'
        required: true
        default: 'preview'
        type: choice
        options:
          - preview
          - production

jobs:
  migrate:
    runs-on: ubuntu-latest
    environment: 
      name: ${{ github.ref_name == 'main' && 'production' || github.ref_name == 'develop' && 'preview' }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'

      - name: Setup packages
        run: npm install

      - name: Generate Prisma Client
        run: npx prisma generate

      - name: Run Migrations
        run: npx prisma migrate deploy
        env:
          DATABASE_URL: ${{ secrets.DATABASE_URL }}
